<p style="text-align: center;">FOOTER</p>
<div class="btn-group ms-auto" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-danger">contactos</button>
    <button type="button" class="btn btn-warning">telefono</button>
    <button type="button" class="btn btn-success">correo</button>
  </div>
  <div class="btn-group ms-auto" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-danger">contactos</button>
    <button type="button" class="btn btn-warning">telefono</button>
    <button type="button" class="btn btn-success">correo</button>
  </div><div class="btn-group ms-auto" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-danger">contactos</button>
    <button type="button" class="btn btn-warning">telefono</button>
    <button type="button" class="btn btn-success">correo</button>
  </div><div class="btn-group ms-auto" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-danger">contactos</button>
    <button type="button" class="btn btn-warning">telefono</button>
    <button type="button" class="btn btn-success">correo</button>
  </div><div class="btn-group ms-auto" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-danger">contactos</button>
    <button type="button" class="btn btn-warning">telefono</button>
    <button type="button" class="btn btn-success">correo</button>
  </div><div class="btn-group ms-auto" role="group" aria-label="Basic mixed styles example">
    
    
 