<p style="text-align: center; margin: 10px; padding: 10px;">Tienda Online</p>
<div class="row mt-5 ms-5">
    <div class="col md-4">
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/images/aven3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Hulk</h5>
              <p class="card-text">Avengers</p>
              <a href="#" class="btn btn-primary">vamos</a>
            </div>
          </div>
    </div>
    <div class="col md-4">
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/images/aven2.avif" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Sipder Man</h5>
              <p class="card-text">Avengers</p>
              <a href="#" class="btn btn-primary">vamos</a>
            </div>
          </div>
    </div>
    <div class="col md-4">
        <div class="card" style="width: 18rem;">
            <img src="./../../../assets/images/aven1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Avengers</h5>
              <p class="card-text">Avengers</p>
              <a href="#" class="btn btn-primary">vamos</a>
            </div>
          </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col md-6">
        <form>
            <fieldset disabled>
              <legend>Formulario de Registro</legend>
              <div class="mb-3">
                <label for="disabledTextInput" class="form-label">Correo</label>
                <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
              </div>
              <div class="mb-3">
                <label for="disabledSelect" class="form-label">Genero</label>
                <select id="disabledSelect" class="form-select">
                  <option>Disabled select</option>
                </select>
              </div>
              <div class="mb-3">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="disabledFieldsetCheck" disabled>
                  <label class="form-check-label" for="disabledFieldsetCheck">
                    Can't check this
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Enviar</button>
            </fieldset>
          </form>
    </div>
    <div class="col md-6 bg-primary">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3014.698659087021!2d-68.12249563603923!3d-16.485359014872465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sbo!4v1717374853893!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>